function Main.main 3
push constant 12
call String.new 1
push constant 84
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 103
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 77
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 110
call String.appendChar 2
call Output.printString 1
pop temp 0
call Output.println 0
pop temp 0
push constant 4
call Squarenum.new 1
pop local 0
push local 0
call Squarenum.print 1
pop temp 0
call Output.println 0
pop temp 0
push constant 3
call Squarenum.new 1
pop local 1
push local 1
call Squarenum.print 1
pop temp 0
call Output.println 0
pop temp 0
push constant 2
call Squarenum.new 1
pop local 2
push local 2
call Squarenum.print 1
pop temp 0
call Output.println 0
pop temp 0
push constant 0
return
